body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.svg {
  border-radius: 15px;
  padding-top: 50px;
  box-shadow: 7px 7px 19px 0px  rgba(189,192,199,1), 
              -7px -7px 19px 0px  rgba(189,192,199,1),
              7px -7px 19px 0px  rgba(189,192,199,1),
              -7px 7px 19px 0px  rgba(189,192,199,1);
}

.title {
  transform: translateY(60px);
  text-align: center;  
  font-weight: 100;
  font-size: 30px;
  margin: 0;
}

#tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;                    
  background-color: white;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: monospace;
  background-color: rgb(131, 207, 255);  
}

#tooltip > p {
  letter-spacing: -0.5px;
}